APP_DEBUG=false
APP_URL=http://0.0.0.0:8788

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ads
DB_USERNAME=root
DB_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=
JWT_TTL=86400

HASHIDS_SALT=
HASHIDS_MIN_LENGTH=8
APP_ENCRYPTION_KEY=
SCOUT_DRIVER=elasticsearch
ES_HOST=127.0.0.1:9200
ES_INDEX=ads_platform
